body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #050816;
}

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #050816, #0a0f2c);
}

.login-card {
    width: 350px;
    background: #101935;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.login-card h1 {
    color: white;
    margin-bottom: 10px;
}

.login-card p {
    color: #aaa;
    margin-bottom: 30px;
}

.login-card input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background: #1d2951;
    color: white;
    font-size: 15px;
}

.login-card button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #6c63ff;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.login-card button:hover {
    background: #574fff;
}
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 24px;
    background: linear-gradient(135deg,#667eea,#764ba2);
    color: white;
    flex-wrap: wrap;
    gap: 20px;
}

.hero-title {
    font-size: 42px;
    margin: 0;
}

.hero-subtitle {
    opacity: 0.9;
    margin-top: 10px;
    font-size: 18px;
}

.hero-badge {
    padding: 14px 22px;
    border-radius: 14px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    font-weight: bold;
    font-size: 18px;
}